<script>
  let longs = <%- JSON.stringify(ejsLong.longitude) %>;
  let lats = <%- JSON.stringify(ejsLat.latitude) %>;
  let elevs = <%- JSON.stringify(ejsElev.elevation) %>;
  let states = <%- JSON.stringify(ejsD.state) %>; // this come from ejs
  let featuredStations = <%- JSON.stringify(ejsD.featuredStations) %>;

  let station_card_template = (station, width='18rem') => `
    <div class="card" style="width: ${width};">
      <div class="card-body">
        <a href="#" class="card-link"><h5 class="card-title">${station.station_name} - (Class ${station.class})</h5></a>
        <h6 class="card-subtitle mb-2 text-muted">Location: ${station.state} (${station.latitude}, ${station.longitude})</h6>
      </div>
    </div>
  `;
  (featuredStations || []).forEach((el) => {
    $('#index-featured-station').append(station_card_template(el, ''));
  });
  const INDEX_STATION_SELECT_ID = '#index-stations-select';
  const MAP_ID = 'index-meta-map';

  $(document).ready(function () {
    (states || []).forEach(element => {
      $(INDEX_STATION_SELECT_ID)
        .append($("<option></option>")
          .attr("value", element.code)
          .text(element.name));
    });


    $(INDEX_STATION_SELECT_ID).on('change', function () {
      if (!this.value) {
        $('#index-station-display').empty();
        return;
      }
      $.get(`/_api/state/${this.value}/stations`, (data) => {
        $('#index-station-display').empty();
        (data?.stations || []).forEach(element => {
          $('#index-station-display').append(station_card_template(element, ''));
        })
      }).fail(() => {
        alert("Error when fetching stations")
      });
    });

    var longitudes = [];
    (longs || []).forEach(element => {
      longitudes.push(element.longitude);
    });
    var latitudes = [];
    (lats || []).forEach(element => {
      latitudes.push(element.latitude);
    });
    var elevations = [];
    (elevs || []).forEach(element => {
      elevations.push(element.elevation);
    });

    var data = [{ type: 'densitymapbox', lon: longitudes, lat: latitudes, elev: elevations }];
    var layout = {
      width: 800, height: 600,
      mapbox: {
        style: 'open-street-map', center: { lat: 41, lon: -98 }, zoom: 7
      }
    };
    Plotly.newPlot(MAP_ID, data, layout);
  });
</script>